/* body {
    background-color: yellow;
}

.main {
    background-color: white;
    padding: 50px;
    margin-top: 30px;
    
}

h1 {
    text-decoration: underline orange;
  
 
}

#red {
    color: red;
}
#blue {
    color: blue;
}
#green {
    color: green;
}

#button {
    width: 400px;
    
    padding: 10px 0 10px 0;
    border-radius: 20px;
    
    background:limegreen;
    color: yellow;
    font-weight: bolder;
}


#option1 {
    width:400px;
    
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background:red;
    margin: 10px 0 10px 10px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    
}
#option2 {
    width:400px;
   
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background:blue;
    margin: 10px 0 10px 10px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    
}
#option3 {
    width:400px;
   
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background:purple;
    margin: 10px 0 10px 10px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
} */
* {
    margin: 0;
    padding: 0;    
}
html, body {
    height: 100%;
    background-image: url("./assets/coding_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#wrapper {
    height: 100%;
    width: 100%; 
    color: #ffc107;        
}

h1 {
    text-align: center;    
    padding: 20px;
    font-family: 'Goldman', cursive;
    font-size: 64px;
    text-decoration: underline;
    text-shadow: 2px 2px 8px navy;
}

form {
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0 0 8px black;        
}

input, select {
    opacity: 0.9;
}

#startButton {
    opacity: 0.9;
    font-weight: bold;
    color: black;
    border-color: #343a40;
    margin-top: 50px;
}
#startButton:hover {    
    transform: scale(1.1);
    transition: 0.4s ease;
    color: #ffc107;
    border-color: #ffc107;
    box-shadow: 0 0 1rem #ffc107;
}

